[
  [:editor.keys.vim "ctrl-r" :passthrough]
  [:editor.keys.vim.normal "ctrl-d" :passthrough]
  [:editor.keys.vim.normal.cm "K" :editor.doc.toggle]
  [:editor.keys.vim.normal.cm "N" :find.prev]
  [:editor.keys.vim.normal.cm "n" :find.next]
  [:editor.keys.vim.normal.cm "/" :vim.find]
  [:editor.keys.vim.normal.cm ":" :vim.ex]
  [:editor.keys.vim.normal.cm "=" :smart-indent-selection]
  [:editor.keys.vim.normal.cm "?" (:vim.find true)]
  [:find-bar.vim "enter" :find.hide]
]
